@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: bold;
}

body{
    background-color: #091057;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4 ,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #111;
    outline: none;
    background-color: #111;
    color: #eee;
}

.grid-container .operator {
    background-color: #0D92F4;
}

.span-two{
    grid-column: span 2;
}

.grid-container .output{
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container .output .previous-operand{
    color: #d2cccc;
    font-size: 1.5rem;
}

.grid-container .output .current-operand{
    font-size: 2.5rem;
    color: #fff;
}

button:hover{
    background-color: #312d2d;
}